<div class="dates-bar__left">
  <img class="dates-bar__arrow" src="images/icons/back-arrow-grey.svg">
  <div class="dates-bar__hide-scroll">
    <div class="dates-bar__dates-list">
      <div class="dates-bar__box dates-bar__box_month-year">
        <div class="dates-bar__box-top">
          {{month}}
          <img class="dates-bar__arrow-down" src="images/icons/arrow-down.svg">
        </div>
        <div class="dates-bar__box-bottom">{{year}}</div>
      </div>
      {{#each dates as |date|}}
        <div class="dates-bar__box {{if date.isToday "dates-bar__box_today"}}">
          <div class="dates-bar__box-top">
            {{date.dayNumber}}
          </div>
          <div class="dates-bar__box-bottom">{{date.dayString}}</div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
