<div class="tags-bar">
  <div class="tags-bar__container">
    <a onclick={{action "onFilter" undefined "Everything"}} href="javascript:void(0)" class="tags-bar__tag {{if (eq "Everything" selectedTag) "tags-bar__tag_is-selected"}}">
      Everything
    </a>
    {{#each tags as |tag|}}
      <a onclick={{action "onFilter" tag.title}} href="javascript:void(0)" class="tags-bar__tag {{if (eq tag.title selectedTag) "tags-bar__tag_is-selected"}}">
        {{tag.title}}
      </a>
    {{/each}}
    <a href="javascript:void(0)" class="tags-bar__tag">
      More
    </a>
  </div>
</div>
